<div style="margin-top: 8px; border: 2px solid green; padding: 8px; max-width: 500px">
  <h2>Component with an action that throws error.</h2>

  <button {{on "click" this.boom}}>Click, if you dare</button>
</div>