<div style="margin-top: 8px; border: 2px solid blue; padding: 8px; max-width: 600px">
  <h2>Component with property that throws error.</h2>

  <div>Before property.</div>
  <div>Property: {{this.property}}</div>
  <div>After property.</div>
</div>