<ul>
  <li><LinkTo @route="model-rejection">Route with Promise Rejection in model()</LinkTo></li>
  <li><LinkTo @route="model-exception">Route with Exception in model()</LinkTo></li>
  <li><LinkTo @route="property-exception-route">Route with Exception in Component property</LinkTo></li>
  <li><LinkTo @route="property-rejection-route">Route with Promise Rejection in Component property</LinkTo></li>
</ul>

<ActionException />
{{outlet}}