<ul>
  <li><LinkTo @route="model-rejection">Route with Promise Rejection in model()</LinkTo></li>
  <li><LinkTo @route="model-exception">Route with Exception in model()</LinkTo></li>
</ul>

<ActionException />
{{outlet}}